root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,json5}]
indent_size = 2

[*.{htm,html,js,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.hbs]
indent_size = 4
